.zhihu-list {
  padding: 10px;
  .list-item {
    min-width: 49%;
    max-width: 49%;
    &:nth-child(2n) {
      margin-left: 1%;
    }
    &:nth-child(odd) {
      margin-right: 1%;
    }
    img {
      width: 100%;
    }
  }
}