.detail-title {
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: hidden;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(91, 116, 146, 0.5);
  }
  img {
    top: 50%;
    width: 100%;
    position: relative;
    transform: translateY(-50%);
  }
  .title {
    width: 60%;
    margin: 0;
    padding: 0;
    right: 5%;
    bottom: 0.4rem;
    text-align: right;
    font-size: 0.36rem;
    color: hsla(0, 0%, 100%, 0.9);
    position: absolute;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}
.content {
  font-size: 0.3rem !important;
}
.headline .img-place-holder {
  height: 0 !important;
}
.am-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: transparent;
  color: #eeeeee !important;
  .am-navbar-title {
    color: #eeeeee !important;
  }
  &.scrollBar {
    background: #ffffff;
    color: #000!important;;
    .am-navbar-title {
      color: #000 !important;
    }
  }
}
.am-navbar-title {
  font-size: 0.3rem;
}
